Repository SAP/ui5-webcomponents, pull requests merged in 2021-11, with the labels that each got.

#4222 feat(inputs): SAP Horizon theme implementation
  packages/main/src/ComboBox.hbs
  packages/main/src/ComboBox.js
  packages/main/src/ComboBoxPopover.hbs
  packages/main/src/Input.hbs
  packages/main/src/Input.js
  packages/main/src/InputPopover.hbs
  packages/main/src/MultiComboBox.hbs
  packages/main/src/MultiComboBox.js
  packages/main/src/MultiComboBoxPopover.hbs
  packages/main/src/TextArea.js
  packages/main/src/TextAreaPopover.hbs
  packages/main/src/Token.hbs
  packages/main/src/Token.js
  packages/main/src/themes/Input.css
  packages/main/src/themes/InputIcon.css
  packages/main/src/themes/ResponsivePopoverCommon.css
  packages/main/src/themes/Token.css
  packages/main/src/themes/Tokenizer.css
  packages/main/src/themes/ValueStateMessage.css
  packages/main/src/themes/base/Input-parameters.css
  packages/main/src/themes/base/InputIcon-parameters.css
  packages/main/src/themes/base/Token-parameters.css
  packages/main/src/themes/base/Tokenizer-parameters.css
  packages/main/src/themes/base/ValueStateMessage-parameters.css
  packages/main/src/themes/sap_belize/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcb/Token-parameters.css
  packages/main/src/themes/sap_belize_hcb/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcw/Token-parameters.css
  packages/main/src/themes/sap_belize_hcw/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_dark/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcb/Token-parameters.css
  packages/main/src/themes/sap_fiori_3_hcb/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcw/Token-parameters.css
  packages/main/src/themes/sap_fiori_3_hcw/parameters-bundle.css
  packages/main/src/themes/sap_horizon/Input-parameters.css
  packages/main/src/themes/sap_horizon/InputIcon-parameters.css
  packages/main/src/themes/sap_horizon/Select-parameters.css
  packages/main/src/themes/sap_horizon/Token-parameters.css
  packages/main/src/themes/sap_horizon/Tokenizer-parameters.css
  packages/main/src/themes/sap_horizon/ValueStateMessage-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
  packages/main/src/themes/sap_horizon_exp/Input-parameters.css
  packages/main/src/themes/sap_horizon_exp/parameters-bundle.css
Labels:  sap_horizon

#4197 feat(ui5-segmented-button): implement sap_horizon theme
  packages/main/src/themes/SegmentedButton.css
  packages/main/src/themes/base/SegmentedButtton-parameters.css
  packages/main/src/themes/sap_belize/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcb/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcw/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_dark/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcb/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcw/parameters-bundle.css
  packages/main/src/themes/sap_horizon/SegmentedButtton-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4231 feat(ui5-popup): adjust bold text in header
  packages/main/src/themes/PopupsCommon.css
Labels:  sap_horizon

#4210 feat: rework stableDomRef concept
  packages/base/hash.txt
  packages/base/src/StaticAreaItem.js
  packages/base/src/UI5Element.js
  packages/fiori/src/ShellBar.js
  packages/fiori/src/ShellBarItem.hbs
  packages/fiori/src/ShellBarItem.js
  packages/main/src/MultiComboBox.js
  packages/main/src/MultiComboBoxItem.js
  packages/main/src/Option.js
  packages/main/src/Select.js
  packages/main/src/Tab.js
  packages/main/src/TabContainer.hbs
  packages/main/src/TabContainer.js
  packages/main/test/specs/Popover.spec.js
Labels: BREAKING CHANGE

#4168 feat(ui5-slider, ui5-range-slider): SAP Horizon theme implementation
  packages/main/src/RangeSlider.js
  packages/main/src/SliderBase.js
  packages/main/src/themes/SliderBase.css
  packages/main/src/themes/base/SliderBase-parameters.css
  packages/main/src/themes/sap_belize/SliderBase-parameters.css
  packages/main/src/themes/sap_horizon/SliderBase-parameters.css
  packages/main/test/pages/Slider.html
  packages/main/test/pages/styles/Slider.css
Labels:  sap_horizon

#4237 feat(ui5-textarea): SAP Horizon theme implementation
  packages/main/src/themes/TextArea.css
  packages/main/src/themes/base/TextArea-parameters.css
  packages/main/src/themes/sap_horizon/TextArea-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4236 feat(ui5-panel, ui5-table): SAP Horizon focus outline
  packages/main/src/themes/GrowingButton.css
  packages/main/src/themes/Panel.css
  packages/main/src/themes/Table.css
  packages/main/src/themes/TableColumn.css
  packages/main/src/themes/TableGroupRow.css
  packages/main/src/themes/base/Panel-parameters.css
  packages/main/src/themes/sap_horizon/GrowingButton-parameters.css
  packages/main/src/themes/sap_horizon/Panel-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4238 feat(ui5-checkbox): implement sap_horizon
  packages/main/src/CheckBox.js
  packages/main/src/themes/CheckBox.css
  packages/main/src/themes/base/CheckBox-parameters.css
  packages/main/src/themes/sap_horizon/CheckBox-parameters.css
  packages/main/src/themes/sap_horizon/sizes-parameters.css
Labels:  sap_horizon

#4232 feat(ui5-time-picker): implement sap_horizon theme
  packages/main/src/themes/WheelSlider.css
  packages/main/src/themes/base/WheelSlider-parameters.css
  packages/main/src/themes/sap_horizon/WheelSlider-parameters.css
Labels:  sap_horizon

#4228 feat(ui5-li-notification): adjust focus styles to sap_horizon
  packages/fiori/src/themes/NotificationListGroupItem.css
  packages/fiori/src/themes/NotificationListItem.css
  packages/fiori/src/themes/NotificationListItemBase.css
  packages/fiori/src/themes/base/NotificationListItem-parameters.css
  packages/fiori/src/themes/sap_horizon/NotificationListItem-parameters.css
  packages/fiori/src/themes/sap_horizon/parameters-bundle.css
  packages/fiori/test/pages/NotificationListItem.html
Labels:  sap_horizon

#4156 feat(ui5-switch): implement sap_horizon theme
  packages/main/src/Switch.hbs
  packages/main/src/Switch.js
  packages/main/src/themes/Switch.css
  packages/main/src/themes/base/Switch-parameters.css
  packages/main/src/themes/base/sizes-parameters.css
  packages/main/src/themes/sap_belize_hcb/Switch-parameters.css
  packages/main/src/themes/sap_belize_hcw/Switch-parameters.css
  packages/main/src/themes/sap_fiori_3_hcb/Switch-parameters.css
  packages/main/src/themes/sap_fiori_3_hcw/Switch-parameters.css
  packages/main/src/themes/sap_horizon/Switch-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
  packages/main/src/themes/sap_horizon_exp/Switch-parameters.css
  packages/main/src/themes/sap_horizon_exp/parameters-bundle.css
Labels:  sap_horizon

#4177 feat(ui5-color-picker): implement sap_horizon theme
  packages/main/src/Slider.hbs
  packages/main/src/themes/ColorPicker.css
  packages/main/src/themes/base/ColorPicker-parameters.css
  packages/main/src/themes/sap_belize/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcb/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcw/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_dark/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcb/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcw/parameters-bundle.css
  packages/main/src/themes/sap_horizon/ColorPalette-parameters.css
  packages/main/src/themes/sap_horizon/ColorPicker-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4233 feat(ui5-calendar): implement horizon theme
  packages/main/src/DayPicker.js
  packages/main/src/themes/CalendarHeader.css
  packages/main/src/themes/DayPicker.css
  packages/main/src/themes/MonthPicker.css
  packages/main/src/themes/YearPicker.css
  packages/main/src/themes/base/CalendarHeader-parameters.css
  packages/main/src/themes/base/DayPicker-parameters.css
  packages/main/src/themes/base/MonthPicker-parameters.css
  packages/main/src/themes/base/YearPicker-parameters.css
  packages/main/src/themes/base/sizes-parameters.css
  packages/main/src/themes/sap_belize_hcb/DayPicker-parameters.css
  packages/main/src/themes/sap_belize_hcw/DayPicker-parameters.css
  packages/main/src/themes/sap_fiori_3_hcb/DayPicker-parameters.css
  packages/main/src/themes/sap_fiori_3_hcw/DayPicker-parameters.css
  packages/main/src/themes/sap_horizon/CalendarHeader-parameters.css
  packages/main/src/themes/sap_horizon/DayPicker-parameters.css
  packages/main/src/themes/sap_horizon/MonthPicker-parameters.css
  packages/main/src/themes/sap_horizon/YearPicker-parameters.css
Labels: for review,  sap_horizon

#4243 feat(ui5-file-uploader): implement sap_horizon theme
  packages/main/src/FileUploader.js
  packages/main/src/FileUploaderPopover.hbs
Labels:  sap_horizon

#4240 feat(ui5-side-navigation): adjust focus styles in overflow to sap_horizon
  packages/fiori/src/SideNavigation.js
  packages/fiori/src/SideNavigationItemPopoverContent.hbs
  packages/fiori/src/themes/SideNavigation.css
  packages/fiori/src/themes/base/SideNavigation-parameters.css
  packages/fiori/src/themes/sap_horizon/SideNavigation-parameters.css
  packages/fiori/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4242 fix(ui5-select): sap_horizon adjustments
  packages/main/src/Select.js
  packages/main/src/SelectPopover.hbs
  packages/main/src/themes/SelectPopover.css
Labels:  sap_horizon

#4251 feat(ui5-shellbar): implement sap_horizon
  packages/fiori/src/ShellBar.hbs
  packages/fiori/src/themes/ShellBar.css
  packages/fiori/src/themes/base/ShellBar-parameters.css
  packages/fiori/src/themes/sap_belize/parameters-bundle.css
  packages/fiori/src/themes/sap_belize_hcb/parameters-bundle.css
  packages/fiori/src/themes/sap_belize_hcw/parameters-bundle.css
  packages/fiori/src/themes/sap_fiori_3/parameters-bundle.css
  packages/fiori/src/themes/sap_fiori_3_dark/parameters-bundle.css
  packages/fiori/src/themes/sap_fiori_3_hcb/parameters-bundle.css
  packages/fiori/src/themes/sap_fiori_3_hcw/parameters-bundle.css
  packages/fiori/src/themes/sap_horizon/ShellBar-parameters.css
  packages/fiori/src/themes/sap_horizon/parameters-bundle.css
  packages/fiori/src/themes/sap_horizon_exp/parameters-bundle.css
  packages/main/src/themes/base/sizes-parameters.css
Labels:  sap_horizon

#4263 fix(inputs): SAP Horizon disabled state enhanced
  packages/main/src/themes/Input.css
Labels:  sap_horizon

#4262 fix(ui5-wizard): remove unneeded aria properties
  packages/fiori/src/Wizard.js
  packages/fiori/src/WizardStep.js
Labels: ACC, BREAKING CHANGE

#4264 chore: remove cyrillic characters
  packages/main/src/List.hbs
  packages/main/src/List.js
  packages/main/src/WheelSlider.js
  packages/main/src/themes/Button.css
  packages/main/src/themes/base/Button-parameters.css
  packages/main/src/themes/sap_belize_hcb/Button-parameters.css
  packages/main/src/themes/sap_belize_hcw/Button-parameters.css
  packages/main/src/themes/sap_fiori_3/Button-parameters.css
  packages/main/src/themes/sap_fiori_3_dark/Button-parameters.css
  packages/main/src/themes/sap_fiori_3_hcb/Button-parameters.css
  packages/main/src/themes/sap_fiori_3_hcw/Button-parameters.css
  packages/main/src/themes/sap_horizon/Button-parameters.css
Labels: for review

#4267 fix(ui5-date-picker): alignment of input controls
  packages/main/src/themes/DatePicker.css
  packages/main/src/themes/TimePicker.css
  packages/main/src/themes/base/TimePicker-parameters.css
  packages/main/src/themes/sap_horizon/DatePicker-parameters.css
  packages/main/src/themes/sap_horizon/TimePicker-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4268 refactor(ui5-message-strip): rename tag name
  docs/1-getting-started/03-understanding-components-APIs.md
  packages/fiori/test/pages/FCL.html
  packages/fiori/test/pages/Wizard.html
  packages/fiori/test/pages/Wizard_test.html
  packages/fiori/test/pages/Wizard_test_mobile.html
  packages/fiori/test/samples/Wizard.sample.html
  packages/fiori/test/specs/Wizard.spec.js
  packages/main/README.md
  packages/main/src/MessageStrip.hbs
  packages/main/src/MessageStrip.js
  packages/main/src/themes/MessageStrip.css
  packages/main/src/themes/base/MessageStrip-parameters.css
  packages/main/src/themes/sap_belize_hcb/MessageStrip-parameters.css
  packages/main/src/themes/sap_belize_hcw/MessageStrip-parameters.css
  packages/main/src/themes/sap_fiori_3_hcb/MessageStrip-parameters.css
  packages/main/src/themes/sap_fiori_3_hcw/MessageStrip-parameters.css
  packages/main/src/themes/sap_horizon/MessageStrip-parameters.css
  packages/main/test/pages/Components.html
  packages/main/test/pages/MessageStrip.html
  packages/main/test/samples/MessageStrip.sample.html
  packages/main/test/specs/MessageStrip.spec.js
Labels: BREAKING CHANGE

#4244 feat: add SAP-icons5.0
  packages/base/hash.txt
  packages/base/src/Render.js
  packages/base/src/UI5ElementMetadata.js
  packages/base/src/asset-registries/Icons.js
  packages/base/src/assets-meta/IconCollectionsAlias.js
  packages/base/src/config/Theme.js
  packages/icons/README.md
  packages/icons/hash.txt
  packages/icons/package-scripts.js
  packages/icons/src/json-imports/Icons-static.js
  packages/icons/src/json-imports/Icons.js
  packages/icons/src/v4/SAP-icons.json
  packages/icons/src/v5/SAP-icons.json
  packages/main/src/ComboBox.hbs
  packages/main/src/ComboBox.js
  packages/main/src/Icon.js
  packages/main/src/Input.hbs
  packages/main/src/Input.js
  packages/main/src/MultiComboBox.hbs
  packages/main/src/MultiComboBox.js
  packages/main/test/pages/Icon.html
  packages/main/test/specs/Icon.spec.js
  packages/theming/css-vars-usage.json
  packages/tools/icons-collection/nps.js
  packages/tools/lib/create-icons/index.js
Labels:  sap_horizon

#4273 fix(ui5-tab-container): selector fixed
  packages/main/src/TabContainer.js
Labels: SF

#4276 fix(ui5-product-switch): adapt focus styles to sap_horizon
  packages/fiori/src/themes/ProductSwitchItem.css
  packages/fiori/src/themes/sap_horizon/ProductSwitchItem-parameters.css
  packages/fiori/src/themes/sap_horizon/parameters-bundle.css
  packages/theming/css-vars-usage.json
Labels:  sap_horizon

#4272 fix(ui5-date-picker): Hover state on readonly is now fixed
  packages/main/src/themes/DatePicker.css
  packages/main/src/themes/base/DatePicker-parameters.css
  packages/main/src/themes/sap_horizon/DatePicker-parameters.css
  packages/main/src/themes/sap_horizon_exp/DatePicker-parameters.css
Labels:  sap_horizon

#4277 chore: lit-html 2 works fully on IE11
  packages/base/package.json
  packages/ie11/hash.txt
  packages/ie11/package.json
  packages/ie11/src/features/IE11.js
  packages/tools/components-package/rollup.js
  packages/tools/package.json
  yarn.lock
Labels: for review

#4247 feat(ui5-step-input): implement sap_horizon theme
  packages/main/src/StepInput.hbs
  packages/main/src/StepInput.js
  packages/main/src/themes/StepInput.css
  packages/main/src/themes/base/StepInput-parameters.css
  packages/main/src/themes/sap_belize/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcb/parameters-bundle.css
  packages/main/src/themes/sap_belize_hcw/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_dark/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcb/parameters-bundle.css
  packages/main/src/themes/sap_fiori_3_hcw/parameters-bundle.css
  packages/main/src/themes/sap_horizon/StepInput-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels:  sap_horizon

#4284 refactor(ui5-breadcrumbs-item): remove stableDomRef public property
  packages/main/src/Breadcrumbs.js
  packages/main/src/BreadcrumbsItem.js
  packages/main/test/specs/Breadcrumbs.spec.js
Labels: BREAKING CHANGE

#4282 refactor(ui5-shellbar-item): rename "item-click" to "click"
  packages/fiori/src/ShellBar.js
  packages/fiori/src/ShellBarItem.js
  packages/fiori/test/pages/ShellBar.html
Labels: BREAKING CHANGE

#4246 https://github.com/SAP/ui5-webcomponents/issues/4245 proposed fix
  packages/base/hash.txt
  packages/base/src/util/encodeXML.js
  packages/base/src/util/escapeRegex.js
  packages/base/src/util/generateHighlightedMarkup.js
  packages/ie11/hash.txt
  packages/main/src/features/InputSuggestions.js
  packages/main/test/pages/Input.html
  packages/main/test/specs/Input.spec.js
Labels: SF

#4269 feat: the addCustomCss should use getSharedResource
  packages/base/hash.txt
  packages/base/src/theming/CustomStyle.js
Labels: SF

#4369 fix: adding stable selectors for tab container and shellbar
  packages/fiori/src/ShellBar.hbs
  packages/main/src/TabContainer.hbs
Labels: SF

#4377 feat(ui5-shellbar): introduce accessibilityTexts property
  packages/fiori/src/ShellBar.js
  packages/fiori/test/pages/ShellBar.html
  packages/fiori/test/specs/ShellBar.spec.js
Labels: SF

#4391 chore: Upgrade to chromedriver 96
  packages/base/package.json
  packages/fiori/package.json
  packages/icons-business-suite/package.json
  packages/icons-tnt/package.json
  packages/icons/package.json
  packages/localization/package.json
  packages/main/package.json
  packages/theming/package.json
  yarn.lock
Labels: for review

#4390 chore: update article link in FAQ
  docs/FAQ.md
Labels: for review
