Repository SAP/ui5-webcomponents, pull requests merged in 2021-10, with the labels that each got.

#4052 chore: Upgrade most dependencies
  packages/base/hash.txt
  packages/base/package.json
  packages/ie11/package.json
  packages/localization/hash.txt
  packages/localization/package.json
  packages/theme-base/package.json
  packages/tools/package.json
  yarn.lock
Labels: for review

#4031 feat(ui5-checkbox): implement sap_horizon
  packages/main/src/CheckBox.hbs
  packages/main/src/CheckBox.js
  packages/main/src/themes/CheckBox.css
  packages/main/src/themes/base/CheckBox-parameters.css
  packages/main/src/themes/sap_horizon/CheckBox-parameters.css
  packages/main/test/pages/CheckBox.html
Labels: for review, sap_horizon

#4006 feat(ui5-input, ui5-date-picker): implement sap_horizon theme
  packages/base/hash.txt
  packages/localization/hash.txt
  packages/main/src/Input.hbs
  packages/main/src/Input.js
  packages/main/src/themes/DatePicker.css
  packages/main/src/themes/Input.css
  packages/main/src/themes/MultiComboBox.css
  packages/main/src/themes/base/DatePicker-parameters.css
  packages/main/src/themes/base/Input-parameters.css
  packages/main/src/themes/sap_belize/Input-parameters.css
  packages/main/src/themes/sap_belize_hcb/Input-parameters.css
  packages/main/src/themes/sap_belize_hcw/Input-parameters.css
  packages/main/src/themes/sap_fiori_3/Input-parameters.css
  packages/main/src/themes/sap_fiori_3_dark/Input-parameters.css
  packages/main/src/themes/sap_fiori_3_hcb/Input-parameters.css
  packages/main/src/themes/sap_fiori_3_hcw/Input-parameters.css
  packages/main/src/themes/sap_horizon/DatePicker-parameters.css
  packages/main/src/themes/sap_horizon/Input-parameters.css
  packages/main/src/themes/sap_horizon/MultiComboBox-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
  packages/main/test/pages/Input.html
Labels: for review, sap_horizon

#4008 feat(ui5-radio-button): implement sap_horizon theme
  packages/main/src/RadioButton.hbs
  packages/main/src/RadioButton.js
  packages/main/src/themes/RadioButton.css
  packages/main/src/themes/base/RadioButton-parameters.css
  packages/main/src/themes/sap_horizon/RadioButton-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
  packages/main/test/pages/CoreControls.html
  packages/main/test/pages/RadioButton.html
Labels: for review, sap_horizon

#4019 feat(ui5-badge): implement sap_horizon theme
  packages/main/src/Badge.hbs
  packages/main/src/Badge.js
  packages/main/src/themes/Badge.css
  packages/main/src/themes/base/Badge-parameters.css
  packages/main/src/themes/sap_horizon/Badge-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
  packages/main/test/pages/Badge.html
  packages/theme-base/css-vars-usage.json
Labels: for review, sap_horizon

#4021 fix(ui5-card): allow accessibleName to be used
  packages/main/src/Card.hbs
  packages/main/src/Card.js
  packages/main/test/pages/Card.html
  packages/main/test/specs/Card.spec.js
Labels: SF

#4071 feat(ui5-select): adjust input and icon to sap_horizon
  packages/main/src/themes/InputIcon.css
  packages/main/src/themes/Select.css
  packages/main/src/themes/base/InputIcon-parameters.css
  packages/main/src/themes/base/Select-parameters.css
  packages/main/src/themes/sap_horizon/InputIcon-parameters.css
  packages/main/src/themes/sap_horizon/Select-parameters.css
  packages/main/src/themes/sap_horizon/parameters-bundle.css
Labels: sap_horizon

#4073 fix(ui5-checkbox): fix component square's border-radius
  packages/main/src/themes/sap_horizon/CheckBox-parameters.css
Labels: sap_horizon

#4069 fix: init package script bugs
  .gitignore
  docs/5-development/01-custom-UI5-Web-Components-Packages.md
  packages/tools/lib/init-package/resources/.gitignore
  packages/tools/lib/init-package/resources/bundle.esm.js
  packages/tools/lib/init-package/resources/config/.eslintrc.js
  packages/tools/lib/init-package/resources/config/postcss.components/postcss.config.js
  packages/tools/lib/init-package/resources/config/postcss.themes/postcss.config.js
  packages/tools/lib/init-package/resources/config/rollup.config.js
  packages/tools/lib/init-package/resources/config/wdio.conf.js
  packages/tools/lib/init-package/resources/package-scripts.js
  packages/tools/lib/init-package/resources/test/pages/index.html
Labels: for review
